.body {
    background-color: var(--blanc--);
    display: flex;
    flex-direction: row;
}

.page_accueil {
    display: flex;
    align-items: stretch;
    height: calc(100vh - 100px); /* ajuste selon la hauteur du footer */

}
/* ------------------Première partie de la page d'accueil------------------*/
.gauche {
    flex: 1.4;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.gauche img {
    width: 200px;
    height: auto;
}
.gauche_presentation {
    display: flex;
    justify-content: center; 
    align-items: center;     
   padding-left: 150px;
}
.gauche #presentation_reseau_social {
    font-size: 20px;
    padding-top:150px;
    margin: 20px;
    text-align:center;
}
/* ------------------Barre veertical et horizontal------------------*/
.milieu {
    width: 2px;
    background-color:var(--noir--);
    height: 80%;
    margin: auto 0;
}

/* ------------------Dernière partie de la page d'accueil------------------*/

.droite {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-size: 45px;
    margin-top: 60px;
    margin-bottom: 200px;
}
