/* ------------------ Mettre tout les boutons formulaire ici pour les reutiliser ------------------*/

.btn {
    display: flex;
    background-color: var(--noir--);
    font-style: italic;
    font-size: 15px;
    border-radius: 17px;
    color: var(--blanc--);
    width: auto;
    padding: 12px 22px;
    margin: 12px auto;
    cursor: pointer;
}