 .header{
    background: #e9e9e9;
 }
.header_contenue{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#form-post{
    margin-left: 40%;
    margin-right: auto;
}

.header_user{
    position: fixed;
    right: -20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_logo{
    width: 5%;
}

#nomprenom{
    margin-right: 0;
}

#DECONEXION{
    margin-left: 10px;
    margin-right: 0px;
}

#headerPdp{
    width: 10%;
}